body {
    margin: 0;
    display: flex;
    height: 100vh;
}

aside,
main {
    width: 50%;
    height: 100%;
}

aside {
    background-color: #FFFFFFFF;
    
}

main {
    background-color: #F59A06FF;
    display: flex;
    align-items: center;
}

main form{
    width:60%;
    height: fit-content;
    margin: 0 auto;
    border: 1px dashed #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* campos para preenchimento */
main form input[type=text],
main form input[type=password]{
    height: 1.4em;
    border: 1px solid #000000;
    /* padding: 10px; */
    border-radius: 0.4em;
    width: 95%;
}

/* botão de login */
main form input[type=submit]{
    background-color: #000000;
    color: #FFFFFFFF;
    padding: 0.7em 3.2em;
    font-size: 13pt;
    border-radius: 1.5em;
    margin: 5em auto 0 auto;
    border: none;
}

main form input[type=submit]:hover{
    background-color: #3a3535;
    cursor: pointer;
}

main form label{
    font-family: sans-serif;
    font-size: 9pt;
    margin-bottom: 5px;
}


main form div{
    width: 60%;
    height: fit-content;
}

aside div.quadro_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside div.quadro_imagens *{
    width: 40%;
    height: 20em;
}

aside div.logo_educare *{
    margin: 0 auto;
}

aside div.logo_educare h1{
    text-align: center;
}

aside div.logo_educare img{
    margin: 0 auto;
}